@page
@model PendientesPWA.Pages.AgregarModel
@{
    
}

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/HojaDeEstilos.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="#"><</a>
        <h1>Pwa pendientes</h1>
        <a href="#" id="agregar">+</a>

    </header>
    <main>
       


        <form>
            <label>Pendiente</label>
            <input required name="Descripcion" type="text" />
            <span class="error">Esto es un mensaje de error</span>
        </form>
        <a href="#" class="fab"></a>
        <nav class="flotante">
            <a href="#">Editar</a>
            <br />
            <a href="#">Eliminar</a>

        </nav>
    </main>
    <script src="~/Scripts/agregar.js?v=3"></script>

</body>
</html>
