@page
@model PendientesPWA.Pages.IndexModel
@{
}
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device=width"/>
        <link href="~/HojaDeEstilos.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
         <h1>Pwa pendientes</h1>

        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Pendiente</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                <tr>
                    <td>ComprarComida</td>
                    <td>&vellip;</td>
                </tr><tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                <tr>
                    <td>ComprarComida</td>
                    <td>&vellip;</td>
                </tr>
                <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                <tr>
                    <td>ComprarComida</td>
                    <td>&vellip;</td>
                </tr>
                <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                <tr>
                    <td>ComprarComida</td>
                    <td>&vellip;</td>
                </tr>
                <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                    <tr>
                        <td>ComprarComida</td>
                        <td>&vellip;</td>
                    </tr>
                <tr>
                    <td>ComprarComida</td>
                    <td>&vellip;</td>
                </tr>
                <tr>
                    <td>ComprarComida</td>
                    <td>&vellip;</td>
                </tr>
                <tr>
                    <td>ComprarComida</td>
                    <td>&vellip;</td>
                </tr>
                <tr>
                    <td>ComprarComida</td>
                    <td>&vellip;</td>
                </tr>
                <tr>
                    <td>ComprarComida</td>
                    <td>&vellip;</td>
                </tr>
                </tbody>
            </table>
            <a href="#" class="fab"></a>
            <nav class="flotante">
                <a href="#" >Editar</a>
                <a href="#">Eliminar</a>

            </nav>
        </main>
    <script src="signalR"></script>
    <script src="~/Scripts/indexJs.js"></script>
        <script src="~/JavaScript.js"></script>
        
    </body>
</html>